* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* find a font family */
  font-family: "Inter", "Segoe UI", "Roboto", -apple-system, BlinkMacSystemFont,
    sans-serif;
}

body {
  background-color: black;
  color: white;
  font-family: system-ui, sans-serif;
}

#root {
  min-height: 100vh;
}
