name: Deploy Frontend

on:
  push:
    branches:
      - main
    paths:
      - 'client/**' # only runs if files in client changes
      - '.github/workflows/frontend-deploy.yml'

permissions: 
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: client

    steps: 
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with: 
          node-version: 20
          cache: npm
          cache-dependency-path: client/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with: 
          role-to-assume: 
          aws-region: us-east-1

      - name: Deploy to S3
        run:

      - name: Invalidate Cloudfront
        run: 
      
